/* HeroDetailComponent's private CSS styles */
div.container{
  margin-top: 60px;
}
table{
  margin-bottom: 60px;
}
th{
  font-weight: 400;
}
td{
  font-weight: 300;
}
h5{
  font-weight: 400;
}
h6.deptor-details{
  color: #607D8B;
}

label {
  display: inline-block;
  width: 3em;
  margin: .5em 0;
  color: #607D8B;
  font-weight: bold;
}
input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
}
button {
  margin-top: 20px;
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer; cursor: hand;
}
button:hover {
  background-color: #607D8B;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}
